#content_cart{
	width: 800px;
	height: 500px;
	margin: auto;
	margin-top: 100px;
}
#content_cart h1{
	font-size: 40px;
	position: relative; left: 360px;
}
.product_row{
	font-size: 20px; display: flex; flex-direction: row; justify-content: space-around;text-align: center;
}